<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Treval App ✈️ 🌍</title>
	</head>
	<body>
		<div class="loging-overlay">
			<form class="log-container">
				<div class="login-icon-close" id="close-loging">
					<i class="fas fa-times"></i>
				</div>

				<i class="fas fa-address-book login-icon-user"></i>
				<label for="emial" name="emial"></label>
				<input
					type="email"
					name="emial"
					id="login-email"
					placeholder="Enter your Email"
				/>
				<input
					type="password"
					name="login-password"
					id="login-password"
					placeholder="Enter your password"
				/>
				<button type="submit" id="log-in">Log In</button>
			</form>
		</div>
		<div class="sign-overlay">
			<form class="sign-container">
				<div id="close-sign" class="sign-icon-close">
					<i class="fas fa-times"></i>
				</div>

				<i class="fas fa-address-book sign-icon-user"></i>
				<label for="emial" name="emial"></label>
				<input
					type="email"
					name="emial"
					id="sing-email"
					placeholder="Enter your Email"
				/>
				<input
					type="password"
					name="sing-password"
					id="sing-password"
					placeholder="Enter your password"
				/>
				<button type="submit" id="sing-up">Join</button>
			</form>
		</div>
		<div class="wrapper">
			<header class="header">
				<div class="logo">
					<h1 id="h1">Treval App ✈️ 🌍</h1>
				</div>
				<div class="loging">
					<button class="btn-loging">Log in</button>
					<button class="btn-sign">Join</button>
				</div>
			</header>
			<section class="search-bar">
				<label for="searchCity" name="searchCity"></label>
				<input type="text" id="searchCity" placesholder="Search a city" />
				<input type="date" id="trip-date" />
				<button id="btn-search">
					<i class="fas fa-map-marked-alt"></i> Add a trip
				</button>
			</section>
			<section class="gg">
				<i class="fa fa-address-card gg"></i>
				<br />
				<i class="fa fa-2x fa-facebook"></i>
				<i class="fas fa-address-book"></i>
			</section>
		</div>

		<!--         
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
	</script> -->

		<!-- Google autoComplate api -->
		<!-- <script type="text/javascript">
			function activatePlaceSearch() {
				let input = document.getElementById('searchCity');
				let autocomplete = new google.maps.places.Autocomplete(input);
			}
		</script>
		<script
			type="text/javascript"
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiKjehIUL_O5YuWsqhHZwdyHIqHTDXIYg&libraries=places&callback=activatePlaceSearch"
		></script> -->
	</body>
</html>
