$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome.scss';
@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
$font: 'Piedra', cursive;
* {
	border: 1px solid red;
}

h1 {
	font-family: $font;
}

i {
	font-size: 40px !important;
}
