@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
$search-font: 'Noto Sans JP', sans-serif;
$font: 'Piedra', cursive;
* {
	// border: 1px solid red;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body,
html {
	width: 100%;
	height: 100%;
}
.wrapper {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 100px 100px 1fr 40px 1fr;
	gap: 20px;
	z-index: 0;
}
header {
	font-family: $font;
	padding: 40px 0 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	.logo {
		width: 50%;
		h1 {
			text-align: left;
			margin-left: 10%;
		}
	}
	.loging {
		width: 50%;
		display: flex;
		justify-content: end;
		margin-right: 10%;
		button {
			margin-left: 6px;
			padding: 4px 15px;
			border: 1px solid #003d72;
			border-radius: 2px;
			background-color: #3da4b5;
			color: white;
			font-size: 1em;
			cursor: pointer;
		}
	}
}

@mixin mediaOverlay($max-width, $width, $left) {
	@media screen and (max-width: $max-width) {
		width: $width;
		left: $left;
	}
}

.sign-overlay {
	display: none;
	width: 100%;
	z-index: 2;
	height: 100%;
	position: fixed;
	background-color: #6581d61a;
	.sign-container {
		border-radius: 14px;
		background-color: #e6e6e6;
		width: 20%;
		height: 30%;
		position: relative;
		top: 36%;
		left: 38%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;

		.sign-icon-user {
			width: 100%;
			font-size: 46px;
			margin: 0 0 10px 0;
		}

		.sign-icon-close {
			font-size: 28px;
			position: absolute;
			top: 20px;
			right: 20px;
			cursor: pointer;
			z-index: 5;
		}

		input,
		button {
			width: 65%;
			padding: 10px;
			margin: 2%;
			border: 1px solid #388dae;
			cursor: pointer;
		}
		button {
			color: white;
			background: #3da4b5;
			border: 1px solid #0e1011;
		}
		@include mediaOverlay(1220px, 50%, 25%);
		@include mediaOverlay(790px, 60%, 20%);
		@include mediaOverlay(420px, 75%, 15%);
	}
}

.loging-overlay {
	display: none;
	width: 100%;
	z-index: 2;
	height: 100%;
	position: fixed;
	background-color: #6581d61a;
	.log-container {
		border-radius: 14px;
		background-color: #e6e6e6;
		width: 20%;
		height: 30%;
		position: relative;
		top: 36%;
		left: 38%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		.login-icon-user {
			width: 100%;
			font-size: 46px;
			margin: 0 0 10px 0;
		}
		.login-icon-close {
			font-size: 28px;
			position: absolute;
			top: 20px;
			right: 20px;
			cursor: pointer;
		}

		input,
		button {
			width: 65%;
			padding: 10px;
			margin: 2%;
			border: 1px solid #388dae;
			cursor: pointer;
		}
		button {
			color: white;
			background: #3da4b5;
			border: 1px solid #0e1011;
		}
		@include mediaOverlay(1220px, 50%, 25%);
		@include mediaOverlay(790px, 60%, 20%);
		@include mediaOverlay(420px, 75%, 15%);
	}
}

.search-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 14%;

	.dateErrMesg {
		position: absolute;
		top: 92px;
		padding: 5px;
		background-color: #eff5ef;
		border: 1px solid #d6d5d5;
		border-radius: 3px;
		color: red;
		display: none;
	}
	input {
		font-family: $search-font;
		padding: 9px;
		width: 40%;
		border: 1px solid rgb(83, 121, 224);
		border-radius: 3px;
		font-size: 0.8em;
	}
	#trip-date {
		width: 30%;
		margin-left: 0.2%;
	}
	button {
		width: 30%;
		padding: 6px;
		border: 1px solid #5379e0;
		background-color: #3da4b5;
		color: white;
		font-size: 1em;
		margin-left: 0.3%;
		cursor: pointer;
		border-radius: 3px;
		line-height: 1.5em;
	}
	@media screen and (max-width: 550px) {
		flex-wrap: wrap;
		input {
			width: 50%;
		}
		#trip-date {
			width: 49%;
		}
		button {
			width: 100%;
		}
		.log-container {
			width: 40%;
		}
	}
}

.titles {
	display: flex;
	justify-content: space-around;
	align-items: end;
	font-size: 1.5em;
	font-family: $font;
}

.trip-container {
	display: grid;
	background-color: #56afbe1c;
	grid-template-columns: auto 1fr;
	margin-bottom: 2%;
	padding: 10px;
	gap: 9px;
	img {
		width: 100%;

		border-radius: 4px;
		align-self: center;
		max-width: 859px;
		justify-self: center;
		max-height: 446px;
	}

	.trip-details {
		background-color: #5662670a;
		display: grid;
		gap: 10px;
	}
	.trip-info {
		align-self: center;
		padding: 20px;
		color: #3a7e8a;
		font-size: 1em;
		line-height: 1.7;
		.trip-destenation,
		.trip-departure {
			margin-bottom: 2%;
		}
	}
	.trip_btn {
		padding: 0 20px;
		align-self: start;
		button {
			color: red;
			padding: 10px;
			color: #3da4b5;
			border: 1px solid #3da4b5;
			border-radius: 3px;
			font-size: 1em;
			cursor: pointer;
			&:hover {
				background-color: #3da4b5;
				color: white;
			}
		}
	}
	.trip_weather {
		color: #3a7e8a;
		justify-self: start;
		padding: 0 20px;
		font-size: 1em;
		* {
			padding: 10px 0;
		}
	}
	@media screen and (max-width: 1100px) {
		grid-template-columns: 1fr;
		.trip-info {
			font-size: 1em;
		}
		.trip_weather {
			font-size: 1em;
		}
	}
}

.savedTrips-ToDoList {
	display: flex;
	background-color: #5662670a;
	height: 100%;
	padding: 1%;
	position: relative;
	.savedTrips_container {
		width: 50%;
		text-align: center;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(553px, 1fr));
		justify-content: center;
		margin: auto;
		gap: 10px;
		overflow: auto;
		height: 540px;
		.trip_content {
			display: flex;
			background-color: #a6d3da;
			height: 290px;
			.savedImg {
				padding: 0px 24px;
				img {
					width: 100%;
					height: 86%;
					-webkit-box-shadow: -7px 9px 20px -7px rgba(14, 17, 20, 1);
					-moz-box-shadow: -7px 9px 20px -7px rgba(14, 17, 20, 1);
					box-shadow: -7px 9px 20px -7px rgba(14, 17, 20, 1);
					border-radius: 4px;
				}
				h4 {
					color: #4a6496;
					padding: 6px 0px;
				}
			}

			.savedTripInfo {
				width: 100%;
				display: grid;
				align-content: center;
				align-self: center;
				font-size: 21px;
				line-height: 1.7;
				.delateSavedTrip-btn {
					width: 80px;
					justify-self: center;
					padding: 4px;
					padding: 5px;
					color: #3da4b5;
					border: 1px solid #3da4b5;
					border-radius: 3px;
					font-size: 0.5em;
					cursor: pointer;
					&:hover {
						background-color: #3da4b5;
						color: white;
					}
				}
			}
			@media screen and (max-width: 820px) {
				flex-direction: column;
				justify-content: center;
				height: 545px;
			}
		}
	}
	.toDoListApp {
		width: 50%;
		margin-left: 1%;
	}

	@media screen and (max-width: 850px) {
		flex-direction: column;
	}
}

.handleApiErrors-layout {
	display: none;
	width: 100%;
	z-index: 2;
	height: 100%;
	position: fixed;
	background-color: #222e528f;
	justify-content: center;
	align-content: center;
	h3 {
		font-size: 20px;
		color: red;
	}
	.apiErr-icon-close {
		font-size: 28px;
		cursor: pointer;
		z-index: 5;
	}
}
